<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.3: 
# *Database Programming with Python and SQLite*

<a name="demo"></a>
## Using SQLite

### Advantages of SQLite

- does not run on a separate server
- creates portable SQL databases saved in a single file
- databases are stored in a very efficient manner and allow fast querying
- ideal for small databases or databases that need to be copied across machines.
- prototyping applications (e.g. as an embedded database server in a Python program).

### The `sqlite3` Command Line Utility

- useful for basic SQL tasks and database maintenance
- for creating and dropping databases, it may be safer to use the command line than to roll the code into a Python program

1. Add the sqlite3 installation folder to your PATH environment variable.
2. Open a command window.
3. Navigate to your preferred working directory.
4. Start the sqlite3 command line utility and create a database called "ex1":

`$ sqlite3 ex1`

Output:  

`SQLite version 3.8.5 2014-05-29 12:36:14
Enter ".help" for usage hints.
sqlite>`

*Nb. If you leave out the database name (after `sqlite3`, above) a new, temporary database will be created; it will be destroyed upon exiting sqlite3.*

Enter the following commands at the sqlite prompt (not shown):

`create table tbl1(one varchar(10), two smallint);
insert into tbl1 values('hello!',10);
insert into tbl1 values('goodbye', 20);
select * from tbl1;`

Output:  

`hello!|10
goodbye|20`

Enter `.help` at the sqlite3 command prompt. This lists the available "dot commands". 

Some of the more useful dot commands include:

`  
.backup ?DB? FILE      Backup DB (default "main") to FILE.
.cd DIRECTORY          Change the working directory to DIRECTORY
.clone NEWDB           Clone data into NEWDB from the existing database
.databases             List names and files of attached databases
.dump ?TABLE? ...      Dump the database in an SQL text format.
.excel                 Display the output of next command in a spreadsheet
.exit                  Exit this program
.headers on|off        Turn display of headers on or off
.help                  Show this message
.import FILE TABLE     Import data from FILE into TABLE
.indexes ?TABLE?       Show names of all indexes.
.quit                  Exit this program
.read FILENAME         Execute SQL in FILENAME
.restore ?DB? FILE     Restore content of DB (default "main") from FILE
.save FILE             Write in-memory database into FILE
.tables ?TABLE?        List names of tables.`

### The `sqlite3` package

The easiest way to incorporate an SQL database into a Python application is by using the `sqlite3` package for [`Python 2.7`](https://docs.python.org/2.7/library/sqlite3.html) or [`Python 3.x`](https://docs.python.org/3/library/sqlite3.html).

Open a connection to an SQLite database file.  As before, if the file does not already exist it will automatically be created.

In [1]:
import sqlite3
sqlite_db = 'test_db.sqlite'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

In [4]:
pwd

'C:\\Users\\Shivraj\\Documents\\iod\\Module 3\\Labs 3'

Commands can be executed by passing them as string arguments to the `execute` method of the cursor we just created for this database.

*Nb. If this script has never been run before, the following will raise an (inconsequential) error message:*

In [5]:
c.execute('DROP TABLE houses;')

# Save (commit) the changes:
conn.commit()

OperationalError: no such table: houses

In [6]:
c.execute('CREATE TABLE houses (field1 INTEGER PRIMARY KEY, sqft INTEGER, bdrms INTEGER, age INTEGER, price INTEGER);')
conn.commit()

With the database saved the table should now be viewable using SQLite Manager.

#### Adding data

Since we're back in python, we can now use regular programming techniques in conjunction with the sqlite connection.  In particular, the cursor's `execute()` method supports value substitution using the `?` character, which makes adding multiple records a bit easier.  See the [docs](https://docs.python.org/2.7/library/sqlite3.html) for more details.

> c.execute(sql_command, values)

In [7]:
# A
last_sale = (None, 4000, 5, 22, 619000)

# Execute Command
c.execute('INSERT INTO houses VALUES (?,?,?,?,?)',last_sale)

# Remember to commit the changes
conn.commit()

In [15]:
c.execute('Select * from houses').fetchall()

[(1, 4000, 5, 22, 619000),
 (2, 2390, 4, 34, 319000),
 (3, 1870, 3, 14, 289000),
 (4, 1505, 3, 90, 269000)]

Notice that in this syntax we use the python `None` value, rather than `NULL`, to trigger SQLite to auto-increment the Primary Key. 

There is a related cursor method `executemany()` which takes an array of tuples and loops through them, substituting one tuple at a time.

> c.executemany(sql_command, values)

In [8]:
# A
recent_sales = [
  (None, 2390, 4, 34, 319000),
  (None, 1870, 3, 14, 289000),
  (None, 1505, 3, 90, 269000),
]

# Nb. The "?" parameters are placeholders for data that will map to the table columns during insertion;
# this is a security measure against SQL injection attacks:
# 
c.executemany('INSERT INTO houses VALUES (?, ?, ?, ?, ?)', recent_sales)

conn.commit()

Select all rows from houses

In [9]:
# A
query = 'Select * from houses'
c.execute(query)
c.fetchall()
#pd.DataFrame(c.fetchall())

[(1, 4000, 5, 22, 619000),
 (2, 2390, 4, 34, 319000),
 (3, 1870, 3, 14, 289000),
 (4, 1505, 3, 90, 269000)]




#### Adding data from a csv file
One way to populate the database from a file is to use `numpy.genfromtxt` to read the file into an array (converted to a list for easier handling), and then `INSERT` those records into the database.  The `genfromtxt` function has options including the output data type, handling of missing values, skipping of header and footer rows, columns to read, and more.

In [17]:
from numpy import genfromtxt

# import into nparray of ints, then convert to list of lists:
data = genfromtxt('../../DATA/housing-data.csv', dtype = 'i8', 
                    delimiter = ',', skip_header = 1).tolist()

Suppose we need to put a placeholder in the first column for data that will be available later. Best practice is to insert the value `None`:

In [19]:
# prepend a None value to beginning of each sub-list:
for d in data:
    d.insert(0, None)

*Nb. This is why we converted the input array to a list. An array can only hold one type of data (integers in this case) so we could not have inserted `None` before we did this conversion.*

In [20]:
# check:
print(type(data))
print(data[0:3])

<class 'list'>
[[None, None, 2104, 3, 70, 399900], [None, None, 1600, 3, 28, 329900], [None, None, 2400, 3, 44, 369000]]

Now we can insert each list item as a row of fields in the database.

In [37]:
# loop through data, running an INSERT on each record (i.e. sublist):
for d in data:
    c.execute('INSERT INTO houses VALUES (?, ?, ?, ?, ?)', d)

conn.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 5, and there are 6 supplied.

In [36]:
c.execute("SELECT * FROM houses;").fetchall()

[(1, 4000, 5, 22, 619000),
 (2, 2390, 4, 34, 319000),
 (3, 1870, 3, 14, 289000),
 (4, 1505, 3, 90, 269000),
 (5, 1200, 3, 15, 250000),
 (6, 1200, 3, 15, 250000),
 (7, 1200, 3, 15, 250000)]

In this case, because we were inserting the same value for all records, so we could have simply used a 'None' in the numpy `insert` method at column 0.

In [38]:
import numpy as np
d1 = np.asarray([1200, 3, 15, 250000])
d1 = d1.tolist()
d1.insert(0, None)
d1
c.execute('INSERT INTO houses VALUES (?, ?, ?, ?, ?)', d1)
conn.commit()

#### Deleting Rows

The `DELETE FROM` statement can be used with a `WHERE` clause to specify rows to delete based on some criteria.

In [39]:
c.execute('DELETE FROM houses WHERE field1 IN (52, 53)')
conn.commit()

QUIZ: What would `DELETE FROM houses` do?

#### Filtering Rows

**1. Select Rows Where Bedrooms = 4**

In [40]:
# ANSWER
results = c.execute("SELECT * FROM houses WHERE bdrms = 4")
results.fetchall()

[(2, 2390, 4, 34, 319000)]

**2. The following query calculates the average floor area and price of each size of house (i.e. by number of bedrooms):**

In [41]:
# ANSWER
results = c.execute("SELECT bdrms, AVG(sqft) AS avg_sqft, AVG(price) AS avg_price FROM houses GROUP BY bdrms")
results.fetchall()

[(3, 1362.5, 259666.66666666666), (4, 2390.0, 319000.0), (5, 4000.0, 619000.0)]

### Pandas connector

While databases provide many analytical capabilities, at some point we may need to pull data into Python for more flexible processing. Large, fixed operations would be more efficient in a database, but Pandas allows for interactive processing.

For example, if you want to aggregate nightly log-ins or sales for a report or dashboard, this would be a fixed operation on a large dataset. These computations would run more efficiently in the database system itself.

However, if we wanted to model the patterns of login behaviour or factors driving sales, then we would import the data to Python where we could use its simple interfaces to powerful analytic libraries.

In [42]:
import pandas as pd
from pandas.io import sql

Pandas can connect to most relational databases. In this demonstration, we will create and connect to a SQLite database.

### Writing data into a database

Data in Pandas can be loaded into a relational database. 

If the data table is not too large, we can load all of it into a Pandas DataFrame:

In [44]:
# Nb. Use low_memory=False to ensure that type inference does not fail due to buffered processing of input:
data = pd.read_csv('../../DATA/housing-data.csv', low_memory = False)
data.head()

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900

We can move data in the opposite direction -- from a DataFrame to a database -- using the `to_sql` command, similar to the `to_csv` command.

`to_sql` takes as arguments:
    - `name`, the table name to create
    - `con`, a connection to a database
    - `index`, whether to input the index column
    - `schema`, if we want to write a custom schema for the new table
    - `if_exists`, what to do if the table already exists. We can overwrite it, add to it, or fail

This copies our `data` DataFrame to a sqlite3 table called `houses_pandas`:

In [45]:
data.to_sql('houses_pandas', con = conn, if_exists = 'replace', index = False)

47

Run a query to get the average price of each house size from this table:

In [46]:
#ANSWER
c.execute('SELECT bdrms, AVG(price) FROM houses_pandas GROUP BY bdrms').fetchall()

[(1, 169900.0),
 (2, 280866.6666666667),
 (3, 326403.92),
 (4, 377449.78571428574),
 (5, 699900.0)]

## Discussion

**Scenarios for using Pandas with SQLite**

1. When would you want to use Pandas on a dataset before storing it in a database?

2. When would you want to use Pandas on a dataset retrieved from a database?

<a name="guided-practice"></a>


# Reference: SQL Syntax 


#### SELECT Statement
Every query should start with `SELECT`.  `SELECT` is followed by the names of the columns in the output.

`SELECT` is always paired with `FROM`, and `FROM` identifies the table to retrieve data from.

```sql
SELECT
<columns>
FROM
<table>
```

`SELECT *` denotes returns *all* of the columns.

Housing Data example:
```sql
SELECT
sqft, bdrms
FROM houses_pandas;
```

**Check:** Write a query that returns the `sqft`, `bdrms` and `price`.

```sql
SELECT
sqft, bdrms, price
FROM houses_pandas;
```

#### WHERE Clause
`WHERE` is used to filter table to a specific criteria and follows the `FROM` clause.

```sql
SELECT
<columns>
FROM
<table>
WHERE
<condition>
```
Example:
```sql
SELECT
sqft, bdrms, age, price
FROM houses_pandas
WHERE bdrms = 2 and price < 250000;
```

The condition is effectively a row filter; rows that match the condition will be included in the rowset that is returned by the query.

**Check:** Write a query that returns the `sqft`, `bdrms`, `age` for houses older than 60 years.
>```sql
SELECT
sqft, bdrms, age
FROM houses_pandas
WHERE age > 60;
```

### AGGREGATIONS

Aggregations (or aggregate functions) are functions where the values of multiple rows are grouped together as input on certain criteria to form a single value of more significant meaning or measurement such as a set, a bag or a list.

Examples of aggregate functions:

- Average (i.e., arithmetic mean)
- Count
- Maximum
- Minimum
- Median
- Mode
- Sum

In SQL they are performed in a `SELECT` statement as follows.

```sql
SELECT COUNT(price)
FROM houses_pandas;
```

```sql
SELECT AVG(sqft), MIN(price), MAX(price)
FROM houses_pandas
WHERE bdrms = 2;
```

### Read Order Data
- P12-ListOfOrders
- P12-OrderBreakdown

#### 1. Read CSV into DataFrame

In [48]:
import pandas as pd
import sqlite3
from pandas.io import sql

In [49]:
# Reading CSV to Dataframe
orders = pd.read_csv('../../DATA/P12-ListOfOrders.csv', encoding = 'utf-8')
orders_break_down =  pd.read_csv('../../DATA/P12-OrderBreakdown.csv', encoding = 'utf-8')

In [50]:
orders.head()

          Order ID  Order Date      Customer Name         Country
0  IT-2011-3647632  2011-01-01       Eugene Moren          Sweden
1  ES-2011-4869686  2011-01-03  Dorothy Dickinson  United Kingdom
2  ES-2011-4939443  2011-01-04     Arthur Prichep          France
3  IT-2011-2942451  2011-01-04     Grant Thornton  United Kingdom
4  ES-2011-3848439  2011-01-05   Michael Granlund          France

In [51]:
orders_break_down.head()

,Order ID,Product Name,Discount,Sales,Quantity,Category
0,IT-2011-3647632,"Enermax Note Cards, Premium",0.5,45.0,3,Office Supplies
1,ES-2011-4869686,"Dania Corner Shelving, Traditional",0.0,854.0,7,Furniture
2,ES-2011-4939443,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140.0,3,Office Supplies
3,IT-2011-2942451,"Boston Markers, Easy-Erase",0.5,27.0,2,Office Supplies
4,IT-2011-2942451,"Eldon Folders, Single Width",0.5,17.0,2,Office Supplies

#### 2. Replace Space with Underscore in Column Names

In [52]:
# ANSWER
orders.columns = [o.replace(' ', '_') for o in orders.columns.str.lower()]

In [53]:
# ANSWER
orders_break_down.columns = [o.replace(' ', '_') for o in orders_break_down.columns.str.lower()]

#### 3. Check DataTypes

In [54]:
# ANSWER
orders.dtypes

order_id         object
order_date       object
customer_name    object
country          object
dtype: object

In [55]:
# ANSWER
orders_break_down.dtypes

order_id         object
product_name     object
discount        float64
sales           float64
quantity          int64
category         object
dtype: object

#### 4. Save these two dataframes as a table in sqlite

In [63]:
# Establishing Local DB connection
db_connection = sqlite3.connect('../../DATA/eshop.db.sqlite')

# Save these two dataframes as a table in sqlite
orders.to_sql(name = 'orders', con = db_connection, if_exists = 'replace', index = False)
orders_break_down.to_sql(name = 'orders_break_down', con = db_connection, if_exists = 'replace', index = False)

8047

In [65]:
db_connection.execute("SELECT * FROM orders").fetchall()

[('IT-2011-3647632', '2011-01-01', 'Eugene Moren', 'Sweden'),
 ('ES-2011-4869686', '2011-01-03', 'Dorothy Dickinson', 'United Kingdom'),
 ('ES-2011-4939443', '2011-01-04', 'Arthur Prichep', 'France'),
 ('IT-2011-2942451', '2011-01-04', 'Grant Thornton', 'United Kingdom'),
 ('ES-2011-3848439', '2011-01-05', 'Michael Granlund', 'France'),
 ('ES-2011-5433855', '2011-01-07', 'Dave Poirier', 'France'),
 ('IT-2011-4546695', '2011-01-08', 'Darren Powers', 'France'),
 ('ES-2011-1138719', '2011-01-11', 'Eric Murdock', 'Italy'),
 ('ES-2011-1466305', '2011-01-11', 'Mick Brown', 'Austria'),
 ('ES-2011-4359424', '2011-01-11', 'Dorothy Dickinson', 'Spain'),
 ('ES-2011-5158390', '2011-01-11', 'Roy Collins', 'United Kingdom'),
 ('ES-2011-1460199', '2011-01-12', 'Roy Phan', 'Germany'),
 ('ES-2011-4976144', '2011-01-12', 'Anthony Garverick', 'United Kingdom'),
 ('ES-2011-5040255', '2011-01-12', 'Peter B?hler', 'United Kingdom'),
 ('IT-2011-5340302', '2011-01-13', 'Greg Matthias', 'Netherlands'),
 ('IT-2011-5951216', '2011-01-13', 'Stuart Calhoun', 'Sweden'),
 ('ES-2011-1043483', '2011-01-14', 'Sharelle Roach', 'Austria'),
 ('ES-2011-3661686', '2011-01-15', 'Don Jones', 'Germany'),
 ('IT-2011-1373680', '2011-01-17', 'Shirley Daniels', 'Denmark'),
 ('ES-2011-4174897', '2011-01-18', 'Michael Dominguez', 'Spain'),
 ('ES-2011-4825230', '2011-01-18', 'Richard Bierner', 'Denmark'),
 ('ES-2011-1690587', '2011-01-19', 'Ann Blume', 'Italy'),
 ('ES-2011-3666932', '2011-01-19', 'Matt Abelman', 'Italy'),
 ('ES-2011-1122594', '2011-01-20', 'Darren Koutras', 'France'),
 ('ES-2011-3229667', '2011-01-21', 'Ryan Crowe', 'Germany'),
 ('ES-2011-3906248', '2011-01-22', 'Marc Harrigan', 'Belgium'),
 ('ES-2011-5497239', '2011-01-22', 'Paul Stevenson', 'Italy'),
 ('ES-2011-5158376', '2011-01-24', 'Joni Sundaresam', 'Italy'),
 ('IT-2011-2413417', '2011-01-24', 'Shirley Jackson', 'Italy'),
 ('ES-2011-3746760', '2011-01-25', 'Filia McAdams', 'Germany'),
 ('ES-2011-4880899', '2011-01-25', 'Aimee Bixby', 'France'),
 ('ES-2011-3429709', '2011-01-26', "Patrick O'Brill", 'Spain'),
 ('ES-2011-3940520', '2011-01-26', 'Michael Moore', 'Norway'),
 ('IT-2011-4233239', '2011-01-26', 'Allen Rosenblatt', 'Portugal'),
 ('IT-2011-4728742', '2011-01-28', 'Herbert Flentye', 'France'),
 ('ES-2011-2205486', '2011-02-01', 'Ionia McGrath', 'Germany'),
 ('ES-2011-5460465', '2011-02-01', 'Ralph Ritter', 'Italy'),
 ('ES-2011-1640672', '2011-02-02', 'Ken Heidel', 'Germany'),
 ('ES-2011-2511634', '2011-02-02', 'Ed Braxton', 'Spain'),
 ('ES-2011-2734651', '2011-02-02', 'Lori Olson', 'Spain'),
 ('ES-2011-3188488', '2011-02-02', 'Ken Lonsdale', 'Spain'),
 ('ES-2011-3642330', '2011-02-02', 'Jill Matthias', 'United Kingdom'),
 ('IT-2011-1877466', '2011-02-02', 'Evan Henry', 'France'),
 ('IT-2011-4488946', '2011-02-02', 'Ellis Ballard', 'Germany'),
 ('IT-2011-5645183', '2011-02-03', 'Max Ludwig', 'Sweden'),
 ('ES-2011-3354251', '2011-02-04', 'Dorothy Dickinson', 'France'),
 ('ES-2011-2367994', '2011-02-07', 'Susan MacKendrick', 'France'),
 ('ES-2011-2857462', '2011-02-07', 'George Bell', 'France'),
 ('ES-2011-2608306', '2011-02-08', 'Shaun Weien', 'Italy'),
 ('ES-2011-2722980', '2011-02-09', 'Hallie Redmond', 'Spain'),
 ('ES-2011-4342226', '2011-02-09', 'Clay Ludtke', 'Germany'),
 ('ES-2011-5389664', '2011-02-09', 'Nat Gilpin', 'Netherlands'),
 ('ES-2011-3818297', '2011-02-10', 'Jennifer Patt', 'Switzerland'),
 ('ES-2011-4632225', '2011-02-10', 'Michelle Ellison', 'Spain'),
 ('ES-2011-4744800', '2011-02-10', 'Chad McGuire', 'France'),
 ('IT-2011-1181278', '2011-02-10', 'Paul Lucas', 'Germany'),
 ('ES-2011-2543443', '2011-02-14', 'Helen Andreada', 'Spain'),
 ('IT-2011-1044550', '2011-02-15', 'Gary Zandusky', 'Netherlands'),
 ('IT-2011-3264984', '2011-02-15', 'Tracy Poddar', 'Spain'),
 ('IT-2011-1978668', '2011-02-16', 'Odella Nelson', 'France'),
 ('ES-2011-1720401', '2011-02-18', 'Ken Heidel', 'France'),
 ('ES-2011-5118812', '2011-02-18', 'Alan Barnes', 'France'),
 ('ES-2011-5987802', '2011-02-18', 'Daniel Lacy', 'Germany'),
 ('ES-2011-4052630', '2011-02-21', 'Zuschuss Donatelli', 'Italy'),
 ('IT-2011-3284965', '2011-02-21', 'Sarah Jordon', 'Switzerland'),
 ('ES-2011-3353574', '2011-02-22', 'Paul Gonzalez', 'Italy'),
 ('ES-2011-4187064', '2011-02-22', 'Julia Dunbar', 'France'),
 ('IT-2011-4664416', '2011-02-22', 'Christopher Martinez', 'Ireland'),
 ('IT-2011-2889545', '2011-02-23', 'Giulietta Dortch', 'Italy'),
 ('ES-2011-2377967', '2011-02-24', 'Julie Creighton', 'Belgium'),
 ('IT-2011-3203475', '2011-02-26', 'Bobby Odegard', 'Netherlands'),
 ('ES-2011-1416586', '2011-03-01', 'Ed Ludwig', 'Germany'),
 ('ES-2011-1517387', '2011-03-01', 'Chris McAfee', 'France'),
 ('ES-2011-1705541', '2011-03-01', 'Todd Sumrall', 'United Kingdom'),
 ('ES-2011-2010166', '2011-03-01', 'Lori Olson', 'Germany'),
 ('ES-2011-3227800', '2011-03-01', 'Jeremy Farry', 'Italy'),
 ('ES-2011-3893444', '2011-03-01', 'Tom Boeckenhauer', 'Germany'),
 ('ES-2011-1708225', '2011-03-03', 'David Philippe', 'Italy'),
 ('ES-2011-4410046', '2011-03-07', 'Toby Swindell', 'France'),
 ('ES-2011-2535754', '2011-03-08', 'Luke Weiss', 'Germany'),
 ('ES-2011-3832823', '2011-03-09', 'Janet Lee', 'Spain'),
 ('ES-2011-2711513', '2011-03-10', 'Tonja Turnell', 'Germany'),
 ('ES-2011-3468356', '2011-03-10', 'Anna Gayman', 'United Kingdom'),
 ('ES-2011-4509445', '2011-03-10', 'Bill Tyler', 'United Kingdom'),
 ('ES-2011-1001989', '2011-03-11', 'Maureen Fritzler', 'Germany'),
 ('ES-2011-4993136', '2011-03-11', "Patrick O'Donnell", 'France'),
 ('ES-2011-2933675', '2011-03-12', 'Sheri Gordon', 'Finland'),
 ('ES-2011-3979558', '2011-03-12', 'Heather Kirkland', 'Switzerland'),
 ('ES-2011-3003511', '2011-03-14', 'Candace McMahon', 'Germany'),
 ('ES-2011-3739047', '2011-03-14', 'Kelly Andreada', 'Germany'),
 ('ES-2011-4699764', '2011-03-14', 'Eugene Barchas', 'Germany'),
 ('ES-2011-4753236', '2011-03-14', 'Darren Budd', 'France'),
 ('IT-2011-1765076', '2011-03-15', 'Ricardo Emerson', 'United Kingdom'),
 ('ES-2011-2587200', '2011-03-16', 'Dorris liebe', 'Italy'),
 ('ES-2011-5099069', '2011-03-17', 'Yoseph Carroll', 'Germany'),
 ('ES-2011-1436413', '2011-03-18', 'Edward Nazzal', 'France'),
 ('ES-2011-5522951', '2011-03-18', 'Skye Norling', 'France'),
 ('ES-2011-1637634', '2011-03-21', 'Ed Jacobs', 'Norway'),
 ('ES-2011-3158300', '2011-03-21', 'Darrin Martin', 'Italy'),
 ('ES-2011-3528133', '2011-03-21', 'Aaron Bergman', 'Italy'),
 ('ES-2011-5083176', '2011-03-21', 'Aaron Smayling', 'Switzerland'),
 ('IT-2011-4381191', '2011-03-21', 'Giulietta Dortch', 'Netherlands'),
 ('ES-2011-3948308', '2011-03-22', 'Carol Darley', 'Germany'),
 ('ES-2011-5263174', '2011-03-23', 'Deborah Brumfield', 'Germany'),
 ('ES-2011-5504927', '2011-03-24', 'Tamara Willingham', 'France'),
 ('ES-2011-2140658', '2011-03-25', 'Thomas Brumley', 'United Kingdom'),
 ('ES-2011-3679996', '2011-03-25', 'Hunter Glantz', 'Germany'),
 ('ES-2011-5879155', '2011-03-25', 'Harold Pawlan', 'United Kingdom'),
 ('IT-2011-2306373', '2011-03-25', 'Bruce Degenhardt', 'Netherlands'),
 ('ES-2011-2266801', '2011-03-26', 'Jamie Frazer', 'France'),
 ('IT-2011-5078476', '2011-03-26', 'Thea Hendricks', 'Switzerland'),
 ('ES-2011-4814310', '2011-03-28', 'Scott Cohen', 'Italy'),
 ('IT-2011-4692210', '2011-03-28', 'Erica Hackney', 'Germany'),
 ('ES-2011-5610862', '2011-03-29', 'Justin Hirsh', 'Germany'),
 ('IT-2011-3424830', '2011-03-29', 'Sean Wendt', 'Germany'),
 ('ES-2011-5861038', '2011-03-30', 'Chris Selesnick', 'Germany'),
 ('ES-2011-3721082', '2011-03-31', 'Larry Blacks', 'Switzerland'),
 ('ES-2011-5287434', '2011-03-31', 'Sue Ann Reed', 'United Kingdom'),
 ('IT-2011-5233011', '2011-03-31', 'Todd Sumrall', 'Sweden'),
 ('ES-2011-4237527', '2011-04-01', 'Benjamin Patterson', 'Italy'),
 ('IT-2011-3468929', '2011-04-01', 'Aaron Smayling', 'Italy'),
 ('ES-2011-3072555', '2011-04-04', 'Ed Braxton', 'France'),
 ('ES-2011-4146320', '2011-04-04', 'Aaron Bergman', 'United Kingdom'),
 ('ES-2011-5430994', '2011-04-04', 'Andrew Gjertsen', 'France'),
 ('ES-2011-5185093', '2011-04-05', 'Andrew Gjertsen', 'France'),
 ('ES-2011-1386961', '2011-04-06', 'Magdelene Morse', 'France'),
 ('ES-2011-1444426', '2011-04-06', 'Max Engle', 'Switzerland'),
 ('ES-2011-4472015', '2011-04-07', 'Liz Willingham', 'France'),
 ('ES-2011-5244045', '2011-04-07', 'Filia McAdams', 'Germany'),
 ('IT-2011-1716540', '2011-04-09', 'Cindy Schnelling', 'Portugal'),
 ('ES-2011-3192576', '2011-04-11', 'Berenike Kampe', 'Germany'),
 ('ES-2011-3376060', '2011-04-11', 'Julia West', 'France'),
 ('ES-2011-4864498', '2011-04-12', 'Becky Castell', 'Spain'),
 ('IT-2011-2419493', '2011-04-12', 'Alice McCarthy', 'Sweden'),
 ('ES-2011-2266607', '2011-04-14', 'John Huston', 'United Kingdom'),
 ('ES-2011-5680692', '2011-04-14', 'Scot Wooten', 'Germany'),
 ('ES-2011-1525428', '2011-04-15', 'Alice McCarthy', 'France'),
 ('IT-2011-2779559', '2011-04-16', 'Mary Zewe', 'Netherlands'),
 ('ES-2011-2835499', '2011-04-18', 'Tom Stivers', 'Italy'),
 ('ES-2011-5178055', '2011-04-18', 'Dan Reichenbach', 'Germany'),
 ('IT-2011-5063480', '2011-04-18', 'Candace McMahon', 'France'),
 ('ES-2011-2696233', '2011-04-19', 'Laurel Elliston', 'France'),
 ('ES-2011-5498995', '2011-04-19', 'Ted Butterfield', 'France'),
 ('ES-2011-1520567', '2011-04-20', 'Scott Williamson', 'Germany'),
 ('ES-2011-5707696', '2011-04-20', 'Denise Leinenbach', 'United Kingdom'),
 ('IT-2011-1904026', '2011-04-20', 'Dan Lawera', 'Ireland'),
 ('ES-2011-1443340', '2011-04-21', 'Joy Smith', 'Spain'),
 ('ES-2011-4240706', '2011-04-22', 'Brendan Sweed', 'France'),
 ('IT-2011-2459755', '2011-04-25', 'Raymond Messe', 'Netherlands'),
 ('ES-2011-4016076', '2011-04-26', 'Ted Trevino', 'United Kingdom'),
 ('ES-2011-5090278', '2011-04-26', 'Phillip Breyer', 'Germany'),
 ('IT-2011-2185983', '2011-04-26', 'Roy Collins', 'France'),
 ('IT-2011-2852736', '2011-04-26', 'Linda Southworth', 'Italy'),
 ('ES-2011-2729747', '2011-04-27', 'Matt Collister', 'Spain'),
 ('ES-2011-4852530', '2011-04-27', "Patrick O'Brill", 'France'),
 ('IT-2011-2075149', '2011-04-27', 'Noah Childs', 'Netherlands'),
 ('IT-2011-3896198', '2011-04-27', 'Roy Franz?sisch', 'France'),
 ('ES-2011-2813459', '2011-04-28', 'Andy Reiter', 'France'),
 ('ES-2011-1140474', '2011-04-29', "Russell D'Ascenzo", 'Switzerland'),
 ('ES-2011-2755002', '2011-04-29', 'Speros Goranitis', 'France'),
 ('ES-2011-2776937', '2011-04-29', 'Chad McGuire', 'Italy'),
 ('ES-2011-2994694', '2011-04-29', 'Saphhira Shifley', 'Italy'),
 ('ES-2011-4920475', '2011-04-29', 'Greg Maxwell', 'France'),
 ('ES-2011-5957871', '2011-04-29', 'Carol Triggs', 'Belgium'),
 ('ES-2011-2111237', '2011-05-02', 'Bill Donatelli', 'France'),
 ('ES-2011-4549921', '2011-05-02', 'Jay Fein', 'Germany'),
 ('ES-2011-2132896', '2011-05-03', 'Muhammed MacIntyre', 'Germany'),
 ('ES-2011-2087362', '2011-05-04', 'Marc Harrigan', 'Germany'),
 ('ES-2011-3249098', '2011-05-04', 'Sarah Foster', 'United Kingdom'),
 ('ES-2011-3431770', '2011-05-04', 'Stuart Calhoun', 'Germany'),
 ('ES-2011-5158527', '2011-05-04', 'Evan Minnotte', 'Germany'),
 ('ES-2011-5276461', '2011-05-04', 'Denny Joy', 'Germany'),
 ('ES-2011-5793145', '2011-05-05', 'Steve Chapman', 'Austria'),
 ('IT-2011-2558119', '2011-05-05', 'Tonja Turnell', 'Germany'),
 ('ES-2011-5867278', '2011-05-06', "Rose O'Brian", 'United Kingdom'),
 ('ES-2011-3403155', '2011-05-07', 'Tracy Blumstein', 'Spain'),
 ('IT-2011-3053644', '2011-05-07', 'Dianna Arnett', 'Netherlands'),
 ('IT-2011-2204228', '2011-05-09', 'Peter Fuller', 'Sweden'),
 ('IT-2011-5643162', '2011-05-09', 'Kristen Hastings', 'Portugal'),
 ('ES-2011-3793897', '2011-05-10', 'Clay Cheatham', 'France'),
 ('ES-2011-4021337', '2011-05-10', 'Michelle Moray', 'United Kingdom'),
 ('IT-2011-1460998', '2011-05-10', 'Bart Watters', 'Spain'),
 ('IT-2011-2660642', '2011-05-10', 'Michelle Lonsdale', 'Sweden'),
 ('IT-2011-4599620', '2011-05-11', 'Peter B?hler', 'Netherlands'),
 ('ES-2011-3051209', '2011-05-12', 'Karen Bern', 'Netherlands'),
 ('IT-2011-1939979', '2011-05-12', 'Mike Pelletier', 'France'),
 ('ES-2011-1589842', '2011-05-13', 'Anthony Rawles', 'Italy'),
 ('ES-2011-3814733', '2011-05-13', 'Eugene Hildebrand', 'France'),
 ('ES-2011-3933819', '2011-05-15', 'Kelly Williams', 'France'),
 ('IT-2011-3667641', '2011-05-16', 'William Brown', 'Ireland'),
 ('ES-2011-5953080', '2011-05-17', 'Dana Kaydos', 'Italy'),
 ('ES-2011-2210233', '2011-05-18', 'Dennis Pardue', 'France'),
 ('ES-2011-2942755', '2011-05-18', 'Matt Hagelstein', 'Germany'),
 ('ES-2011-4932761', '2011-05-18', "Sean O'Donnell", 'Austria'),
 ('IT-2011-5001014', '2011-05-18', 'Ed Jacobs', 'Italy'),
 ('ES-2011-3321216', '2011-05-19', 'Pamela Coakley', 'Spain'),
 ('ES-2011-4517621', '2011-05-19', 'Katherine Murray', 'France'),
 ('ES-2011-2333773', '2011-05-21', 'Grant Thornton', 'Italy'),
 ('IT-2011-1521406', '2011-05-21', 'Adam Shillingsburg', 'Netherlands'),
 ('IT-2011-1780558', '2011-05-25', 'Julie Creighton', 'Italy'),
 ('ES-2011-3366039', '2011-05-26', 'Shahid Hopkins', 'France'),
 ('ES-2011-3517120', '2011-05-26', 'Gene Hale', 'United Kingdom'),
 ('ES-2011-5540627', '2011-05-26', 'Cari Schnelling', 'United Kingdom'),
 ('ES-2011-1657853', '2011-05-27', 'David Philippe', 'Germany'),
 ('ES-2011-3846264', '2011-05-27', 'Lisa Hazard', 'Germany'),
 ('IT-2011-3515682', '2011-05-27', 'Matt Collister', 'Sweden'),
 ('ES-2011-2520395', '2011-05-28', 'Joy Bell-', 'United Kingdom'),
 ('IT-2011-5629016', '2011-05-30', 'Toby Carlisle', 'France'),
 ('IT-2011-3076849', '2011-05-31', 'Jocasta Rupert', 'Italy'),
 ('ES-2011-1010958', '2011-06-01', 'Liz Thompson', 'France'),
 ('ES-2011-1441570', '2011-06-01', 'Monica Federle', 'France'),
 ('ES-2011-2801336', '2011-06-01', 'Deborah Brumfield', 'Spain'),
 ('ES-2011-3108517', '2011-06-01', 'Matt Hagelstein', 'Ireland'),
 ('ES-2011-4040727', '2011-06-01', 'Anthony Johnson', 'United Kingdom'),
 ('ES-2011-5940123', '2011-06-01', 'Mike Caudle', 'United Kingdom'),
 ('ES-2011-3525697', '2011-06-02', 'Jack Lebron', 'Italy'),
 ('ES-2011-3684586', '2011-06-02', 'Benjamin Venier', 'United Kingdom'),
 ('IT-2011-4812190', '2011-06-02', 'Todd Sumrall', 'Germany'),
 ('IT-2011-5193547', '2011-06-02', 'Steven Ward', 'Netherlands'),
 ('IT-2011-5495847', '2011-06-03', 'Nicole Hansen', 'France'),
 ('ES-2011-2486841', '2011-06-04', 'Grace Kelly', 'United Kingdom'),
 ('IT-2011-4603506', '2011-06-04', 'Michael Grace', 'Germany'),
 ('ES-2011-2464932', '2011-06-06', 'Bill Stewart', 'France'),
 ('ES-2011-3630624', '2011-06-06', 'Muhammed Lee', 'Austria'),
 ('ES-2011-3876549', '2011-06-06', 'Sarah Brown', 'Germany'),
 ('ES-2011-4767717', '2011-06-06', 'Anna Chung', 'France'),
 ('ES-2011-5444769', '2011-06-06', 'Erica Hernandez', 'United Kingdom'),
 ('ES-2011-5754966', '2011-06-06', 'Dean Braden', 'United Kingdom'),
 ('IT-2011-1152860', '2011-06-06', 'Carl Ludwig', 'Ireland'),
 ('ES-2011-1137137', '2011-06-07', 'Neil Knudson', 'France'),
 ('ES-2011-1455810', '2011-06-07', 'Valerie Takahito', 'France'),
 ('ES-2011-1748043', '2011-06-07', 'Nathan Cano', 'Germany'),
 ('ES-2011-4691256', '2011-06-07', 'Michael Kennedy', 'France'),
 ('ES-2011-4845310', '2011-06-07', 'Eva Jacobs', 'United Kingdom'),
 ('ES-2011-5814037', '2011-06-07', 'Rick Huthwaite', 'United Kingdom'),
 ('IT-2011-2011704', '2011-06-07', 'Emily Ducich', 'Italy'),
 ('IT-2011-2159764', '2011-06-07', 'Jim Sink', 'United Kingdom'),
 ('ES-2011-2399281', '2011-06-08', 'Angele Hood', 'Belgium'),
 ('ES-2011-3540276', '2011-06-08', 'Allen Rosenblatt', 'Germany'),
 ('ES-2011-3953366', '2011-06-08', 'Anna Chung', 'United Kingdom'),
 ('ES-2011-4077297', '2011-06-08', 'Frank Olsen', 'Spain'),
 ('ES-2011-2858219', '2011-06-09', 'Ross DeVincentis', 'Germany'),
 ('ES-2011-3862536', '2011-06-09', 'Harold Dahlen', 'Germany'),
 ('ES-2011-4351826', '2011-06-09', 'Sally Hughsby', 'Germany'),
 ('IT-2011-3466484', '2011-06-09', 'Guy Phonely', 'France'),
 ('IT-2011-5721470', '2011-06-09', 'Russell Applegate', 'France'),
 ('ES-2011-3972371', '2011-06-10', 'Steve Chapman', 'United Kingdom'),
 ('IT-2011-2975588', '2011-06-10', 'Marc Crier', 'France'),
 ('IT-2011-4648014', '2011-06-10', 'Adam Hart', 'Italy'),
 ('ES-2011-1858721', '2011-06-11', 'Sung Chung', 'Austria'),
 ('ES-2011-2542245', '2011-06-11', 'Todd Boyes', 'Italy'),
 ('ES-2011-1276768', '2011-06-13', "Jack O'Briant", 'France'),
 ('ES-2011-1749151', '2011-06-13', 'Lena Cacioppo', 'France'),
 ('ES-2011-5039850', '2011-06-13', 'Harold Engle', 'Belgium'),
 ('ES-2011-5596924', '2011-06-13', 'Sally Matthias', 'Italy'),
 ('ES-2011-1418466', '2011-06-14', 'Scot Wooten', 'Germany'),
 ('ES-2011-3398154', '2011-06-14', 'Eugene Moren', 'United Kingdom'),
 ('ES-2011-4815184', '2011-06-14', 'Randy Bradley', 'United Kingdom'),
 ('ES-2011-1536399', '2011-06-15', 'Theresa Swint', 'Austria'),
 ('ES-2011-3286627', '2011-06-15', 'Natalie Fritzler', 'Sweden'),
 ('IT-2011-2911544', '2011-06-15', 'Scott Williamson', 'France'),
 ('ES-2011-1586186', '2011-06-16', 'Vivek Grady', 'Denmark'),
 ('ES-2011-4240072', '2011-06-16', 'Jill Fjeld', 'Italy'),
 ('ES-2011-4351366', '2011-06-16', 'Rick Huthwaite', 'United Kingdom'),
 ('ES-2011-4741318', '2011-06-16', 'Karl Braun', 'United Kingdom'),
 ('IT-2011-1925845', '2011-06-16', 'Jeremy Ellison', 'United Kingdom'),
 ('ES-2011-1951083', '2011-06-17', 'Maria Etezadi', 'France'),
 ('ES-2011-5952460', '2011-06-17', 'Janet Molinari', 'France'),
 ('IT-2011-4320455', '2011-06-17', 'Aaron Hawkins', 'France'),
 ('IT-2011-4913699', '2011-06-17', 'Lindsay Shagiari', 'United Kingdom'),
 ('IT-2011-5810579', '2011-06-17', 'Jack Garza', 'Sweden'),
 ('ES-2011-1974768', '2011-06-18', 'Jay Fein', 'Austria'),
 ('ES-2011-5273102', '2011-06-18', 'Joy Daniels', 'Spain'),
 ('IT-2011-4752666', '2011-06-18', 'Randy Bradley', 'Spain'),
 ('ES-2011-2931507', '2011-06-20', 'Suzanne McNair', 'Italy'),
 ('ES-2011-4806518', '2011-06-20', 'Brendan Dodson', 'United Kingdom'),
 ('IT-2011-4726397', '2011-06-20', 'Joseph Holt', 'France'),
 ('ES-2011-2621167', '2011-06-21', 'Joseph Airdo', 'United Kingdom'),
 ('ES-2011-1259965', '2011-06-22', 'Joseph Airdo', 'Italy'),
 ('ES-2011-1868803', '2011-06-22', 'Chad Sievert', 'Germany'),
 ('ES-2011-2413369', '2011-06-22', 'Debra Catini', 'Germany'),
 ('ES-2011-3654318', '2011-06-22', 'Allen Rosenblatt', 'Austria'),
 ('ES-2011-4154402', '2011-06-22', 'Cynthia Voltz', 'Germany'),
 ('IT-2011-5781543', '2011-06-22', 'Stewart Carmichael', 'Netherlands'),
 ('ES-2011-1562184', '2011-06-24', 'William Brown', 'France'),
 ('ES-2011-5867473', '2011-06-24', 'Arthur Gainer', 'Spain'),
 ('IT-2011-1887131', '2011-06-24', 'Lisa DeCherney', 'Netherlands'),
 ('IT-2011-2289083', '2011-06-24', 'Tom Stivers', 'Germany'),
 ('IT-2011-3462831', '2011-06-25', 'Sung Pak', 'Sweden'),
 ('ES-2011-1630549', '2011-06-27', 'Jill Matthias', 'France'),
 ('ES-2011-1689666', '2011-06-27', 'Frank Olsen', 'Austria'),
 ('ES-2011-1702031', '2011-06-27', 'Resi P?lking', 'Spain'),
 ('ES-2011-1815211', '2011-06-27', 'Aaron Smayling', 'France'),
 ('ES-2011-2071029', '2011-06-27', 'Steve Carroll', 'Italy'),
 ('ES-2011-5253790', '2011-06-27', 'Ruben Ausman', 'Germany'),
 ('ES-2011-5499567', '2011-06-27', 'Sung Pak', 'France'),
 ('IT-2011-5084706', '2011-06-27', 'Ken Black', 'Italy'),
 ('ES-2011-2736116', '2011-06-28', 'Daniel Raglin', 'Germany'),
 ('ES-2011-2911640', '2011-06-28', 'Shaun Chance', 'Spain'),
 ('ES-2011-3276063', '2011-06-28', 'Lauren Leatherbury', 'United Kingdom'),
 ('ES-2011-3978514', '2011-06-28', 'Julie Prescott', 'Spain'),
 ('ES-2011-5298002', '2011-06-28', 'Cynthia Voltz', 'France'),
 ('IT-2011-4028329', '2011-06-28', 'Jay Fein', 'United Kingdom'),
 ('ES-2011-3080574', '2011-06-29', 'Melanie Seite', 'France'),
 ('IT-2011-5334146', '2011-06-29', 'Keith Herrera', 'United Kingdom'),
 ('ES-2011-5729514', '2011-07-01', 'Justin Hirsh', 'United Kingdom'),
 ('IT-2011-1260172', '2011-07-02', 'Tamara Dahlen', 'Ireland'),
 ('ES-2011-3965225', '2011-07-06', 'Ed Braxton', 'France'),
 ('ES-2011-4821517', '2011-07-06', 'Mark Packer', 'Germany'),

#### 5. Select Number of Orders for Each Customer

We can use the `sql` function in `pandas.io` to run SQL queries to the database with the `.read_sql()` method. Here's an example:

In [58]:
# Select first 10 rows of all columns in orders table

query = """
        SELECT * 
        FROM orders 
        LIMIT 10;
        """

orders_head_10 = sql.read_sql(query, con=db_connection)
orders_head_10

          order_id  order_date      customer_name         country
0  IT-2011-3647632  2011-01-01       Eugene Moren          Sweden
1  ES-2011-4869686  2011-01-03  Dorothy Dickinson  United Kingdom
2  ES-2011-4939443  2011-01-04     Arthur Prichep          France
3  IT-2011-2942451  2011-01-04     Grant Thornton  United Kingdom
4  ES-2011-3848439  2011-01-05   Michael Granlund          France
5  ES-2011-5433855  2011-01-07       Dave Poirier          France
6  IT-2011-4546695  2011-01-08      Darren Powers          France
7  ES-2011-1138719  2011-01-11       Eric Murdock           Italy
8  ES-2011-1466305  2011-01-11         Mick Brown         Austria
9  ES-2011-4359424  2011-01-11  Dorothy Dickinson           Spain

In [59]:
# Select Number of Distinct Orders for Each Customer

#### 6. Select Number of Customers for Each Country

In [ ]:
# Select Number of Customers for Each Country

#### 7.A Select discount, sales, quantity for Each Order from orders_break_down Table

In [ ]:
#  Select discount, sales, quantity for Each Order from orders_break_down Table

#### 7.B Select discount, sales, quantity, total price for Each Order from orders_break_down Table

> Total Price = sales * quantity - discount

In [ ]:
# Select discount, sales, quantity, total price for Each Order Id from orders_break_down Table

#### 7.C Select All Orders from orders_break_down Table Where Total Price Greater Than 100

In [ ]:
# Select All Orders from orders_break_down Table Where Total Price Greater Than 100

#### 8. Select All Customers And The Products They Have Bought

In [ ]:
# Select All Order Ids, Customers And The Products (product_name) They Have Bought

#### 9.A Select Number of 'Furniture' Orders For Each Country

In [ ]:
# Select Number of 'Furniture' Orders For Each Country

#### 9.B Select Number of 'Furniture' Orders For The Country Denmark

In [ ]:
# Select Number of 'Furniture' Orders For The Country Denmark

#### 10. Select Total Sales With Discount and Without Discount for Each Country

In [ ]:
# Select Total Sales With Discount (discount > 0) and Without Discount (discount = 0) for Each Country

#### 11.A Select Total Quantity, Total Sales for Each Country

In [ ]:
# Select Total Quantity, Total Sales for Each Country

#### 11.B Select Top 3 Countries and Quantities Based on Total Sales

In [ ]:
# Select Top 3 Countries and Quantities Based on Total Sales

#### 11.C Select Bottom 3 Countries and Sales Based On Total Quantities

In [ ]:
# Select Bottom 3 Countries and Sales Based On Total Quantities

#### 12. Select Average Sales By Category For The Country 'France'

In [ ]:
# Select Average Sales By Category For The Country 'France'

#### 13. Select Country, Category and Average Sales Where Average Sales is The Highest

In [ ]:
# Select Country, Category and Average Sales Where Average Sales is The Highest

### JOINS

Below is a link to a handy reference for SQL joins. In this chart joins are represented in terms of sets and venn diagrams. 
https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins

Alternatively, remember the merge functionality of pandas.
https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

### ADDITIONAL RESOURCES

- [sqlite3 home](http://www.sqlite.org)  
- [sqlite3 Python documentation](https://docs.python.org/3/library/sqlite3.html)
- [SQLite Python tutorial](http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html)  
- [SQL zoo](http://www.sqlzoo.net)  Great for learning syntax



---



---



> > > > > > > > > © 2022 Institute of Data


---



---